.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.body{
  margin-bottom: -7px;
}

.bg-1 {
     background-color: #1abc9c; /* Green */
      color: #ffffff;
  }

.bg-2 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}

.bg-3 {
    background-color: #fff; /* White */
    color: #555555;
}

.bg-4 {
    background-color: #2f2f2f;
    color: #fff;
}
